# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
s1 = pd.Series(np.random.randint(low = 1, high = 4, size = 100, dtype='l'))
s2 = pd.Series(np.random.randint(low = 1, high =3, size = 100, dtype = 'l'))
s3 = pd.Series(np.random.randint(low = 10000, high = 30000, size =100, dtype = 'l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
df = pd.concat([s1, s2, s3], axis=1)

In [8]:
df.head(2)

   0  1      2
0  1  1  17650
1  3  2  12810

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [13]:
df.rename(columns = {0:'bedrs',1:'bathrs',2:'price_sqr_meter'}, inplace = True)

In [14]:
df.head(2)

   bedrs  bathrs  price_sqr_meter
0      1       1            17650
1      3       2            12810

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [18]:
bigcolumn = pd.concat([s1,s2,s3], axis=0)
df2 = pd.DataFrame(bigcolumn)
type(df2)

pandas.core.frame.DataFrame

In [19]:
df2

        0
0       1
1       3
2       3
3       2
4       3
..    ...
95  29930
96  19746
97  18870
98  17762
99  14771

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [21]:
df3 = df2.reset_index(drop=True)
df3.head(2)

   0
0  1
1  3