# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(path, sep='\t')

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1
chipo.shape[0]

4622

In [10]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [12]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Step 6. What is the number of columns in the dataset?

In [13]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [14]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [15]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [42]:
chipo.groupby('item_name')['quantity'].agg('sum').idxmax()

'Chicken Bowl'

In [41]:
#quantity	item_name	
#grouped = chipo.groupby('item_name')['quantity'].agg(total_orders =('quantity','sum')).reset_index().sort_values('total_orders', ascending=False)
grouped = chipo.groupby('item_name')['quantity'].agg('sum').reset_index().rename(columns={'quantity':'total_quantity'}).sort_values('total_quantity', ascending=False)
grouped.head(1)['item_name']
grouped

                                item_name  total_quantity
17                           Chicken Bowl             761
18                        Chicken Burrito             591
25                    Chips and Guacamole             506
39                          Steak Burrito             386
10                      Canned Soft Drink             351
23                                  Chips             230
38                             Steak Bowl             221
6                           Bottled Water             211
24           Chips and Fresh Tomato Salsa             130
9                             Canned Soda             126
21                     Chicken Salad Bowl             123
22                     Chicken Soft Tacos             120
37                          Side of Chips             110
45                         Veggie Burrito              97
2                        Barbacoa Burrito              91
44                            Veggie Bowl              87
11                          Carnitas Bowl              71
1                           Barbacoa Bowl              66
12                       Carnitas Burrito              60
43                       Steak Soft Tacos              56
0                       6 Pack Soft Drink              55
30    Chips and Tomatillo Red Chili Salsa              50
19                   Chicken Crispy Tacos              50
29  Chips and Tomatillo Green Chili Salsa              45
16                    Carnitas Soft Tacos              40
40                     Steak Crispy Tacos              36
31  Chips and Tomatillo-Green Chili Salsa              33
42                       Steak Salad Bowl              31
35                       Nantucket Nectar              29
32    Chips and Tomatillo-Red Chili Salsa              25
5                     Barbacoa Soft Tacos              25
27     Chips and Roasted Chili Corn Salsa              23
34                                   Izze              20
48                      Veggie Salad Bowl              18
28     Chips and Roasted Chili-Corn Salsa              18
3                   Barbacoa Crispy Tacos              12
4                     Barbacoa Salad Bowl              10
20                          Chicken Salad               9
13                  Carnitas Crispy Tacos               8
49                      Veggie Soft Tacos               8
8                                 Burrito               6
47                           Veggie Salad               6
15                    Carnitas Salad Bowl               6
7                                    Bowl               4
41                            Steak Salad               4
36                                  Salad               2
33                           Crispy Tacos               2
26      Chips and Mild Fresh Tomato Salsa               1
14                         Carnitas Salad               1
46                    Veggie Crispy Tacos               1

### Step 10. For the most-ordered item, how many items were ordered?

In [44]:
grouped.head(1)['total_quantity']

17    761
Name: total_quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [58]:
pd.set_option('display.max_colwidth', None)

In [59]:
chipo.iloc[[5,9]]['choice_description']

5            [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]
9    [Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]
Name: choice_description, dtype: object

In [64]:
chipo.groupby('choice_description')['quantity'].agg('sum').idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [65]:
chipo.groupby('choice_description')['quantity'].agg('sum').max()

159

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [70]:
chipo['item_price'].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [77]:
#chipo['item_price_num'] = chipo['item_price'].apply(lambda row: row[1:])
chipo['item_price'] = chipo['item_price_num'].apply(pd.to_numeric, errors ='coerce')
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
item_price_num         object
dtype: object

#### Step 13.c. Check the item price type

In [78]:
chipo['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [84]:
chipo = chipo.drop(columns = 'item_price_num')

In [85]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",16.98

In [90]:
chipo['total_price'] = chipo['item_price']*chipo['quantity']
print('price was $'+ str(np.round(chipo.total_price.sum(),2)))

price was $39237.02

### Step 15. How many orders were made in the period?

In [102]:
total_orders = chipo.head(5).order_id.value_counts()
total_orders

1    4
2    1
Name: order_id, dtype: int64

In [105]:
# total_orders = chipo.head(5).order_id.value_counts()
# total_orders
grouped_order_id = chipo.groupby('order_id')
grouped_order_id.ngroups

1834

### Step 16. What is the average revenue amount per order?

In [106]:
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39

In [111]:
# Solution 1
total_rev_per_item = chipo.groupby('order_id')['total_price'].agg('sum')
total_rev = total_rev_per_item.sum()
avg_rev = total_rev /grouped_order_id.ngroups
avg_rev

21.39423118865867

In [ ]:
# Solution 2

### Step 17. How many different items are sold?

In [115]:
chipo.groupby('item_name').ngroups

50